{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">

	        <div style="border: solid lightgray 1px; margin-bottom: 40px" >
		        {% include 'share_layout/banner.html' %}
	        </div>

	        <!--把button放在右下角，这个是可以随意修改的，你可以改成一个链接一个图片之类的-->
	        <div id="google_translate_element"
	             style="position:absolute;bottom:10px;right:10px;z-index:2000;opacity:0.7"></div>
	        <script>
                function googleTranslateElementInit() {

                    new google.translate.TranslateElement(
                        {
                            //这个是当前页面的原语言，便于插件精确翻译
                            pageLanguage: 'zh-CN',
                            //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                            includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                            //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                            //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                            autoDisplay: true,
                            //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
                        },
                        'google_translate_element'//触发按钮的id
                    );

                }
	        </script>
	        <script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>

            {% if page_type and tag_name %}
                <header class="archive-header">

                    <p class="archive-title">{{ page_type }}：<span>{{ tag_name }}</span></p>
                </header><!-- .archive-header -->
            {% endif %}

            {% for article in article_list %}
                {% load_article_detail article True user %}
            {% endfor %}
            {% if is_paginated %}
                {% load_pagination_info page_obj page_type tag_name %}

            {% endif %}
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}
{% block sidebar %}
    {% with request.user.username|add:linktype as cachekey %}
        {% cache 36000 sidebar cachekey %}
            {% load_sidebar user linktype %}
        {% endcache %}
    {% endwith %}
{% endblock %}